body{
    background-color: var(--background-color); /*gray*/
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
}
a{
    text-decoration: none;
    margin-top: 24px;
}
h1, h2, h3, h4, h5, h6{
    color: var(--title-color);
    font-family: Ubuntu, sans-serif;
}
form{
    background-color: white; /*white*/ /*#0000009a*/
    margin: 80px auto;
    padding: 64px;
    border-radius: 8px;
    max-width: 730px;
}
form h1{
    font-size: 36px;
}
form fieldset{
    margin-top: 64px;
    border: 0;
}
form legend{
    margin-bottom: 40px;
}
form legend h2{
    font-size: 24px;
}
form .field{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
form .field-group{
    display: flex;
}
form input, form select{
    background-color: var(--background-color);
    border: 0;
    padding: 16px 57px;
    border-radius: 8px;
    outline: none;
}
form select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
form label{
    font-size: 14px;
    margin-bottom: 8px;
}
form .field-group .field + .field{
    margin-left: 24px;
}
form button{
    width: 260px;
    height: 56px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border: 0;
    outline: none;
    margin-top: 40px;
    transition: 400ms;
}
form button:hover{
    background-color: var(--hover-color);
}