body{
    background-color: #f0f0f5; /*#1c1c1f*/
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
}
a{
    text-decoration: none;
    margin-top: 24px;
}
h1, h2, h3, h4, h5, h6{
    color: var(--title-color);
    font-family: Ubuntu, sans-serif;
}