#modal{
    background-color: #0e0a14ef;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 400ms;
}
#modal.hide{
    display: none;
}
#modal .content{
    color: white;
    width: 420px;
}
#modal .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}
#modal .header a{
    margin: 0px;
    background-image: url(../../image/icones/x.svg);
    width: 20px;
    height: 20px;
    display: flex;
    font-size: 0.01px;
    transition: 400ms;
}
#modal .header h1{
    color: white;
    font-size: 36px;
    line-height: 42px;
}
#modal form label{
    font-size: 14px;
    line-height: 16px;
    display: block;
    margin-bottom: 8px;
}
#modal form .search-field{
    display: flex;
}
#modal form input{
    flex: 1;
    background-color: var(--background-color);
    border-radius: 8px 0px 0px 8px;
    border: 0px;
    padding: 16px 24px;
    font-size: 16px;
    color: #6c6c80;
}
#modal form button{
    width: 60px;
    height: 60px;
    background-color: var(--primary-color);
    border: 0px;
    border-radius: 0px 8px 8px 0px;
    transition: 400ms;
}
#modal form button:hover{
    background-color: var(--hover-color);

}
#modal .search-field input, form button{
    outline: none;
}