<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Página principal - Ecoleta</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/styles/home-style/home.css">
        <link rel="stylesheet" href="/public/styles/home-style/modal.css">
        <link rel="stylesheet" href="/public/styles/home-style/main.css">
        <link rel="stylesheet" href="/public/styles/root.css">
        <link rel="stylesheet" href="/public/styles/responsive.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- Inicio da página -->
        <div id="page-home">
            <div class="content">
                <header>
                    <img src="/public/image/icones/logo.svg" alt="Logomarca">
                    <a href="/create-point">
                        <span></span>
                        Cadastre um ponto de coleta
                    </a>
                </header>
                <main>
                    <h1>Seu marketplace de coleta de resíduos</h1>
                    <p>Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente.</p>
                    <a href="#">
                        <span></span>
                        <strong>Pesquisar pontos de coleta</strong>
                    </a>
                </main>
            </div>
        </div>
        <!-- Fim da página -->

        <!-- Inicio da tela modal -->
            {% include "partials/modal.html" %}
        <!-- Fim da tela modal -->
    <script src="/public/scripts/index.js"></script>
    </body>
</html>