<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Página principal - Ecoleta</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/styles/root.css">
        <link rel="stylesheet" href="/public/styles/responsive.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- Inicio da página -->
        <div id="page-home">
        

    </body>
</html>