:root{
    --title-color: #322153;
    --primary-color: #34cb79;
    --text-color: #f5f5f5;
    --background-color: #f0f0f5;
    --hover-color: #2fb86e;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}